#### [pandas.pydata.org](https://pandas.pydata.org/pandas-docs/stable/index.html)

In [ ]:
import numpy as np
import pandas as pd
from numpy import nan as NaN
import matplotlib.pyplot as plt
from datetime import datetime

# Combining

## merge

merge(left, right, how, on, left_on, right_on, left_index, right_index, suffixes, indicator)

### serie & serie

In [ ]:
s1 = pd.Series(['ali', 'taha', 'omid', 'sara'], name='Name')
s2 = pd.Series([18, 12, 17], name='Score')

In [ ]:
display(s1, s2)

In [ ]:
pd.merge(s1, s2, left_index=True, right_index=True)

In [ ]:
pd.merge(s1, s2, left_index=True, right_index=True, how='outer')

In [ ]:
#---------------

In [ ]:
s1 = pd.Series([13, 14, 16], ['ali', 'taha', 'omid'], name='Python')
s2 = pd.Series([18, 12, 17], ['ali', 'taha', 'sara'], name='C++')

In [ ]:
display(s1, s2)

In [ ]:
pd.merge(s1, s2, left_index=True, right_index=True)

In [ ]:
pd.merge(s1, s2, left_index=True, right_index=True, how='outer')

In [ ]:
#---------------

In [ ]:
s1 = pd.Series([13, 14, 16], ['ali', 'taha', 'omid'], name='Python')
s1.index.name = 'Name'

In [ ]:
s2 = pd.Series([18, 12, 17], ['ali', 'taha', 'sara'], name='C++')
s2.index.name = 'Name'

In [ ]:
display(s1, s2)

In [ ]:
pd.merge(s1, s2, on='Name')

In [ ]:
pd.merge(s1, s2, on='Name', how='outer')

In [ ]:
#---------------

In [ ]:
s1 = pd.Series([13, 14, 16], ['ali', 'taha', 'omid'], name='Python')
s1.index.name = 'Name'

In [ ]:
s2 = pd.Series([18, 12, 17], ['ali', 'taha', 'sara'], name='C++')

In [ ]:
display(s1, s2)

In [ ]:
pd.merge(s1, s2, left_on='Name', right_index=True)

In [ ]:
pd.merge(s1, s2, left_on='Name', right_index=True, how='outer')

### dataframe & serie

In [ ]:
df = pd.DataFrame({'Python': [13, 14, 16]}, index= ['ali', 'taha', 'omid'])
s = pd.Series([18, 12, 17], ['ali', 'taha', 'sara'], name='C++')

In [ ]:
display(df, s)

In [ ]:
pd.merge(df, s, left_index=True, right_index=True)

In [ ]:
pd.merge(df, s, left_index=True, right_index=True, how='outer')

In [ ]:
#---------------

In [ ]:
df = pd.DataFrame({'Name': ['ali', 'taha', 'omid'], 'Python': [13, 14, 16]})

In [ ]:
s = pd.Series([18, 12, 17], ['ali', 'taha', 'sara'], name='C++')
s.index.name = 'Name'

In [ ]:
display(df, s)

In [ ]:
pd.merge(df, s, on='Name')

In [ ]:
pd.merge(df, s, on='Name', how='outer')

In [ ]:
#---------------

In [ ]:
df = pd.DataFrame({'Name': ['ali', 'taha', 'omid'], 'Python': [13, 14, 16]})
df.set_index('Name', inplace=True)

In [ ]:
s = pd.Series([18, 12, 17], ['ali', 'taha', 'sara'], name='C++')
s.index.name = 'Name'

In [ ]:
display(df, s)

In [ ]:
pd.merge(df, s, on='Name')

In [ ]:
pd.merge(df, s, on='Name', how='outer')

### dataframe & dataframe

In [ ]:
df1 = pd.DataFrame({'Name': ['ali', 'omid', 'taha']})
df2 = pd.DataFrame({'scor': [5, 8, 3]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
pd.merge(df1, df2, how='cross')

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'Name': ['ali', 'taha', 'sara'], 'C++': [18, 12, 17]})
df2 = pd.DataFrame({'Java': [15, 17, 18], 'Python': [13, 14, 16]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'C++': [18, 12, 17]}, index=['ali', 'taha', 'sara'])
df2 = pd.DataFrame({'Python': [13, 14, 16]}, index=['ali', 'taha', 'omid'])

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, how='inner')

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, how='left')

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, how='right')

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, how='outer')

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, how='outer', indicator=True)

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'Name': ['ali', 'taha', 'sara'], 'C++': [18, 12, 17]})
df2 = pd.DataFrame({'Name': ['ali', 'taha', 'omid'], 'Python': [13, 14, 16]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='Name')

In [ ]:
pd.merge(df1, df2, on='Name', how='outer')

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'FName': ['ali', 'taha', 'sara'], 'LName': ['ram', 'zamani', 'amini'], 'C++': [18, 12, 17]})
df2 = pd.DataFrame({'FName': ['ali', 'taha', 'omid'], 'LName': ['ram', 'zamani', 'abbasi'], 'Python': [13, 14, 16]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, on=['FName', 'LName'])

In [ ]:
pd.merge(df1, df2, on=['FName', 'LName'], how='outer')

..........

In [ ]:
df1 = pd.DataFrame({'Name': ['ali', 'taha', 'sara'], 'Python': [18, 12, 17]})
df2 = pd.DataFrame({'Name': ['ali', 'taha', 'omid'], 'Python': [13, 14, 16]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, suffixes=('_T1', '_T2'))

In [ ]:
pd.merge(df1, df2, on='Name', suffixes=('_T1', '_T2'))

In [ ]:
pd.merge(df1, df2, on='Name', how='outer', suffixes=('_T1', '_T2'))

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'Term1': ['ali', 'taha', 'sara'], 'Python': [18, 12, 17]})
df2 = pd.DataFrame({'Term2': ['ali', 'taha', 'omid'], 'Python': [13, 14, 16]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, suffixes=('_T1', '_T2'))

In [ ]:
pd.merge(df1, df2, left_on='Term1', right_on='Term2', suffixes=('_T1', '_T2'))

In [ ]:
pd.merge(df1, df2, left_on='Term1', right_on='Term2', how='outer', suffixes=('_T1', '_T2'))

..........

In [ ]:
df1 = pd.DataFrame({'X': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'Y': range(7)})
df2 = pd.DataFrame({'X': ['a', 'b', 'd'], 'Z': range(3)})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, on='X')

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'X': ['b', 'b', 'a', 'c', 'a', 'b'], 'Y': range(6)})
df2 = pd.DataFrame({'X': ['a', 'b', 'a', 'b', 'd'], 'Z': range(5)})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'X': ['a', 'b', 'a', 'a', 'b', 'c'], 'Y': range(6)})
df2 = pd.DataFrame({'Z': [18, 15]}, index=['a', 'b'])

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_on='X', right_index=True)

In [ ]:
pd.merge(df1, df2, left_on='X', right_index=True, how='outer')

..........

In [ ]:
df1 = pd.DataFrame({'k1': ['f', 'f', 'g'], 'k2': ['one', 'two', 'one'], 'Z': [1, 2, 3]})
df2 = pd.DataFrame({'k1': ['f', 'f', 'g', 'g'],'k2': ['one', 'one', 'one', 'two'],'W': [4, 5, 6, 7]})

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, on=['k1', 'k2'])

In [ ]:
pd.merge(df1, df2, on=['k1', 'k2'], how='outer')

In [ ]:
#---------------

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, on='k1', suffixes=('_df1', '_df2'))

..........

In [ ]:
d = {'X': ['H', 'H', 'H', 'N', 'N'],'Y': [1397, 1398, 1399, 1398, 1399], 'Z': np.arange(5.)}
df1 = pd.DataFrame(d)

In [ ]:
i = [['N', 'N', 'H', 'H', 'H', 'H'], [1398, 1397, 1397, 1397, 1398, 1399]]
df2 = pd.DataFrame(np.arange(12).reshape((6, 2)), index=i, columns=['A', 'B'])

In [ ]:
display(df1, df2)

In [ ]:
pd.merge(df1, df2, left_on=['X', 'Y'], right_index=True)

In [ ]:
pd.merge(df1, df2, left_on=['X', 'Y'], right_index=True, how='outer')

## join

join(other, on, how, lsuffix, rsuffix)

In [ ]:
df = pd.DataFrame({'Name': ['ali', 'taha', 'omid'], 'Python': [13, 14, 16]})
s = pd.Series([18, 12, 17], name='C++')

In [ ]:
display(df, s)

In [ ]:
df.join(s)

..........

In [ ]:
df1 = pd.DataFrame({'Python': {'ali': 12, 'sara': 18, 'taha': 16},
                    'C++':    {'ali': 19, 'sara': 13, 'taha': 5}})

In [ ]:
df2 = pd.DataFrame({'Pascal': {'ali': 15, 'sara': 17, 'taha': 19, 'farshid': 3},
                    'C#':     {'ali': 6,  'sara': 18, 'taha': 20, 'farshid': 9}})

In [ ]:
df3 = pd.DataFrame({'Java': {'farid': 17, 'sara': 19, 'mahsa': 11, 'taha': 13},
                    'PHP':  {'farid': 12, 'sara': 20, 'mahsa': 6,  'taha': 18}})

In [ ]:
display(df1, df2, df3)

In [ ]:
df1.join([df2, df3])

In [ ]:
df1.join([df2, df3], how='outer')

In [ ]:
df_tow = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')
pd.merge(df_tow, df3, left_index=True, right_index=True, how='outer')

## concat

concat(objs, axis, join, ignore_index, keys, levels, names, sort)

two series

In [ ]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [ ]:
display(s1, s2)

In [ ]:
# axis 0

In [ ]:
pd.concat([s1, s2])

In [ ]:
pd.concat([s1, s2], ignore_index=True)

In [ ]:
pd.concat([s1, s2], keys=['s.1', 's.2'])

In [ ]:
pd.concat([s1, s2], keys=['s.1', 's.2'], names=['SName', 'RowID'])

In [ ]:
pd.concat([s1, s2], keys=['s.1', 's.2'], names=['SName', 'RowID']).unstack()

In [ ]:
# axis 1

In [ ]:
pd.concat([s1, s2], axis=1)

In [ ]:
pd.concat([s1, s2], axis=1, keys=['s.1', 's.2'])

In [ ]:
#---------------

In [ ]:
s1 = pd.Series([12, 18], index=['ali', 'sara'])
s2 = pd.Series([13, 20, 14], index=['taha', 'mahsa', 'sara'])

In [ ]:
display(s1, s2)

In [ ]:
# axis 0

In [ ]:
pd.concat([s1, s2])

In [ ]:
pd.concat([s1, s2], keys=['c++', 'python'])

In [ ]:
pd.concat([s1, s2], keys=['c++', 'python'], names=['Dars', 'Name'])

In [ ]:
pd.concat([s1, s2], keys=['c++', 'python'], names=['Dars', 'Name']).unstack()

In [ ]:
# axis 1

In [ ]:
pd.concat([s1, s2], axis=1)

In [ ]:
pd.concat([s1, s2], axis=1, keys=['c++', 'python'])

In [ ]:
pd.concat([s1, s2], axis=1, keys=['c++', 'python']).T

two dataframe

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])

In [ ]:
display(df1, df2)

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])

In [ ]:
display(df1, df2)

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2], join='inner')

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df2 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']], columns=['animal', 'name'])

In [ ]:
display(df1, df2)

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
#---------------

In [ ]:
df1 = pd.DataFrame({'Python': {'ali': 12, 'sara': 18, 'taha': 16},
                    'C++':    {'ali': 19, 'sara': 13, 'taha': 5}})

In [ ]:
df2 = pd.DataFrame({'R':   {'ali': 15, 'sara': 17, 'taha': 19, 'farshid': 3},
                    'Java':{'ali': 6,  'sara': 18, 'taha': 20, 'farshid': 9}})

In [ ]:
display(df1, df2)

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
#---------------

In [ ]:
df = pd.DataFrame({'a': [1, 3], 'b': [2, 4]})
s = pd.Series({'a': 5, 'b': 6})

In [ ]:
display(df, s)

In [ ]:
s.to_frame().T

In [ ]:
pd.concat([df, s.to_frame().T], ignore_index=True)

# Time Series

## date & time

### datetime

In [ ]:
datetime.now()

In [ ]:
t = datetime.now()

In [ ]:
t.year

In [ ]:
t.month

In [ ]:
t.day

In [ ]:
t.hour, t.minute, t.second

In [ ]:
#---------------

In [ ]:
dt = datetime(2021, 11, 27)
display(dt, str(dt))

In [ ]:
dt = datetime(2021, 2, 18, 21, 57, 35)
display(dt, str(dt))

In [ ]:
dt.strftime('%Y-%d-%m')

In [ ]:
dt.strftime('%d-%m-%Y')

In [ ]:
#---------------

In [ ]:
dt1 = datetime(2021, 1, 1)
dt2 = datetime(2021, 2, 1)
dt2 - dt1

In [ ]:
datetime(2021, 7, 1) - datetime(2021, 1, 1)

In [ ]:
datetime(2021, 7, 1) - datetime(2020, 1, 1)

### pd.to_datetime

In [ ]:
pd.to_datetime("January, 20, 2021")      # type: Timestamp

In [ ]:
pd.to_datetime("2021/1/20")

In [ ]:
pd.to_datetime("2021.1.20")

In [ ]:
pd.to_datetime("2021/20/1", format="%Y/%d/%m")

In [ ]:
pd.to_datetime("20-1-2021 12:36:14", format="%d-%m-%Y %H:%M:%S")

In [ ]:
#---------------

In [ ]:
pd.to_datetime(["5-1-2021"])        # type: DatetimeIndex

In [ ]:
pd.to_datetime(["5-1-2021"], dayfirst=True)

In [ ]:
pd.to_datetime(1490195805, unit='s')

In [ ]:
#---------------

In [ ]:
df = pd.DataFrame({"year":[2020, 2021],"month":[2, 7],"day":[14, 25]})
display(df, pd.to_datetime(df))

### pd.Timestamp

In [ ]:
datetime(2021, 1, 20)

In [ ]:
pd.Timestamp("2021-1-20")

In [ ]:
pd.Timestamp('2021-01-20 23:57:45')

In [ ]:
pd.Timestamp(year=2021, month=1, day=20, hour=23, minute=57, second=45)

In [ ]:
pd.Timestamp(year=2021, month=1, day=20, minute=57)

In [ ]:
pd.Timestamp(2021, 1, 20, 23, 57, 45)

In [ ]:
pd.Timestamp(1621000003, unit='s')

In [ ]:
#---------------

In [ ]:
f = pd.Timestamp('2021-01-20 23:57:45')
display(f.year, f.month, f.day, f.hour, f.minute, f.second)

In [ ]:
f = pd.Timestamp("2021-1-23")
display(f.month_name(), f.day_name())

In [ ]:
x = pd.Timestamp("2021-1-23")
display(x, x.day_name())

In [ ]:
s = x + pd.Timedelta("1 day")
display(s, s.day_name())

### pd.tseries.offsets

In [ ]:
pd.tseries.offsets.Hour(5)

In [ ]:
pd.tseries.offsets.Hour(2) + pd.tseries.offsets.Minute(5)

In [ ]:
#---------------

In [ ]:
t = pd.Timestamp('2021-01-20 04:00:00'); t

In [ ]:
t + pd.tseries.offsets.Day(5)

In [ ]:
t + pd.tseries.offsets.Minute(50)

..........

In [ ]:
from pandas.tseries.offsets import MonthEnd
from pandas.tseries.offsets import Day
from pandas.tseries.offsets import Hour
from pandas.tseries.offsets import Minute

In [ ]:
Hour(2)

In [ ]:
Hour(2) + Minute(45)

In [ ]:
#---------------

In [ ]:
t = pd.Timestamp('2021-01-20 04:00:00'); t

In [ ]:
t + MonthEnd(3)

In [ ]:
t + Day(5)

In [ ]:
t + Hour(2)

In [ ]:
t + Minute(3)

### date_range 
###### (start, end, periods, freq, tz, name, inclusive, unit)

start, end, periods, freq

In [ ]:
# start, end, freq

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', freq='D')   # type: DatetimeIndex

In [ ]:
pd.date_range('2021-1-20', '2021-01-22')

In [ ]:
pd.date_range('2021-1-20', '2021-01-23', freq='2D')

In [ ]:
pd.date_range('2021-1-20', '2021-01-23', freq='12H')

In [ ]:
# end, periods, freq

In [ ]:
pd.date_range(end='2021-01-20', periods=3, freq='D')

In [ ]:
pd.date_range(end='2021-01-20', periods=3, freq='7D')

In [ ]:
pd.date_range(end='2021-01-20', periods=3, freq='M')

In [ ]:
# start, periods, freq

In [ ]:
pd.date_range(start='2021-1-20', periods=3, freq='D')

In [ ]:
pd.date_range('2021-01-20', periods=3)

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='24H')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='7D')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='M')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='12M')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='Y')

In [ ]:
pd.date_range('2021-01-20', periods=27, freq='H')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='W')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='W-SUN')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='W-SAT')

In [ ]:
pd.date_range('2021-01-20', periods=3, freq='W-WED')

In [ ]:
# business day

In [ ]:
pd.date_range('2021-01-20', '2021-02-20', freq='B')      # B : business day frequency

In [ ]:
pd.bdate_range('2021-01-20', '2021-02-20')               # business day

In [ ]:
pd.date_range('2021-01-20', '2021-02-20', freq='BM')     # BM : business month end frequency

In [ ]:
# period_range

In [ ]:
di = pd.date_range('2021-1-25', '2021-2-3')
display(di, type(di))

In [ ]:
pi = pd.period_range('2021-01-25', '2021-02-03')
display(pi, type(pi))

tz

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22')

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', tz='Asia/Tehran')

name

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22')

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', name='Date-time-Index')

inclusive

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22')

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', inclusive='both')

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', inclusive='neither')

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', inclusive='left')

In [ ]:
pd.date_range(start='2021-1-20', end='2021-01-22', inclusive='right')

## time series

### Intro

serie

In [ ]:
i = pd.date_range('2021-01-29', periods=5, freq='D')
s = pd.Series([7, 3, 9, 5, 9], index=i)

In [ ]:
s

In [ ]:
s.index

In [ ]:
s['2021-01-30']

In [ ]:
s['2021-01']

In [ ]:
s['2021-02']

In [ ]:
s['2021']

In [ ]:
#---------------

In [ ]:
s = pd.Series(i)

In [ ]:
display(s, s[3])

dataframe

In [ ]:
d = [[12, 20, 18], [13, 14, 6], [12, 8, 19], [20, 16, 9]]
i = pd.date_range('2021-01-20', periods=4, freq='5D')
dars = ['Python', 'C++', 'Java']

In [ ]:
pd.DataFrame(d, i, dars)

In [ ]:
#---------------

In [ ]:
i = pd.date_range('2021-1-20', periods=4, freq='W-WED') 
df = pd.DataFrame(np.random.randn(4, 2), index=i, columns=['A', 'B']); df

In [ ]:
df.loc['2021-2-3']

In [ ]:
df.loc['2021-1']

In [ ]:
df.loc['2021-2']

In [ ]:
df.loc['2021']

In [ ]:
#---------------

In [ ]:
i = pd.date_range('2018-01-31', '2020-4-30', freq='M')
s = [np.exp( k/12 ) for k in range(1, len(i)+1)]
df = pd.DataFrame(s, index=i, columns=['Sale']); df

In [ ]:
with plt.style.context('bmh'):
    df.plot()

DatetimeIndex

In [ ]:
i = [datetime(2000, 1, 1),  datetime(2000, 1, 2), datetime(2000, 1, 2), datetime(2021, 1, 3)]
pd.Series([6, 3, 7, 5], index=i)

In [ ]:
i = pd.DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2021-01-03'])
ts = pd.Series([6, 3, 7, 5], index=i); ts

In [ ]:
ts['2000-01']

In [ ]:
ts['2000-01-02']

In [ ]:
ts.index.is_unique

In [ ]:
ts.groupby(level=0).max()

### Functions

truncate (before, after, axis)

In [ ]:
i = pd.DatetimeIndex(['2020-1-16', '2021-1-19', '2021-1-20', '2021-1-22'])
s = pd.Series(range(4), index=i); s

In [ ]:
s.index[3]

In [ ]:
s.truncate(before='2021-1-19')

In [ ]:
s.truncate(after='2021-1-19')

In [ ]:
s.truncate(before='2021-1-19', after='2021-1-20')

In [ ]:
s['2021-1-19':'2021-1-20']

In [ ]:
#---------------

In [ ]:
i = pd.date_range("2020-01-01", "2020-01-06")
d = {"Col1": [10, 20, 15, 30, 45, 53],
     "Col2": [13, 23, 18, 33, 48, 50],
     "Col3": [17, 27, 22, 37, 52, 57]}

In [ ]:
df = pd.DataFrame(d, i); df

In [ ]:
df.truncate(after='2020-01-04')

In [ ]:
df.truncate(before='2020-01-03')

In [ ]:
df.truncate(before='2020-01-03', after='2020-01-04')

In [ ]:
df.loc['2020-01-03':'2020-01-04', :]

shift (periods, freq, axis, fill_value, suffix)

In [ ]:
i = pd.date_range('2021-01-20', periods=4, freq='D')
ts = pd.Series([1, 2, 3, 4], index=i)

In [ ]:
ts

In [ ]:
ts.shift(1)

In [ ]:
ts.shift(-2)

In [ ]:
ts

In [ ]:
ts.shift(2, freq='D')

In [ ]:
ts.shift(-2, freq='D')

In [ ]:
#---------------

In [ ]:
i = pd.date_range("2020-01-01", "2020-01-05")
d = {"Col1": [10, 20, 15, 30, 45],
     "Col2": [13, 23, 18, 33, 48],
     "Col3": [17, 27, 22, 37, 52]}

In [ ]:
df = pd.DataFrame(d, i); df

In [ ]:
df.shift(periods=3)

In [ ]:
df.shift(periods=3, fill_value=0)

In [ ]:
df.shift(periods=1, axis="columns")

In [ ]:
df.shift(periods=3, freq="infer")

In [ ]:
df.shift(periods=3, freq="D")

In [ ]:
df['Col1'].shift(periods=[0, 1, 2])

resample (rule, axis, closed, label, convention, kind, on, level, origin, offset, group_keys)

In [ ]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
s = pd.Series(range(9), index=index); s

In [ ]:
s.resample('3T')

In [ ]:
s.resample('3T').asfreq()

In [ ]:
s.resample('3T').sum()

In [ ]:
s.resample('3T', label='right').sum()

In [ ]:
s.resample('3T', label='right', closed='right').sum()

In [ ]:
s.resample('30S').asfreq()[0:5]

In [ ]:
s.resample('30S').ffill()[0:5]

In [ ]:
s.resample('30S').bfill()[0:5]

In [ ]:
#---------------

In [ ]:
d = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
     'volume': [50, 60, 40, 100, 50, 100, 40, 50],
     'week_starting':pd.date_range('01/01/2018',periods=8,freq='W')}

In [ ]:
df = pd.DataFrame(d); df

In [ ]:
df.resample('M', on='week_starting').min()

In [ ]:
df.resample('M', on='week_starting').mean()

In [ ]:
#---------------

In [ ]:
i = pd.date_range('2021-1-20', periods=2, freq='W-WED')
df = pd.DataFrame([[1, 2],[4, 5]], index=i, columns=['Hamedan', 'Tehran']); df

In [ ]:
df.resample('D').asfreq()

In [ ]:
df.resample('D').ffill(limit=2)

In [ ]:
#---------------

In [ ]:
i = pd.date_range('2021-1-20 00:00', periods=4, freq='1min')
df = pd.DataFrame({'time': i, 'value': np.arange(4)}); df

In [ ]:
f = df.set_index('time'); f

In [ ]:
f.resample('3min').count()

In [ ]:
f.resample('2min').count()

# cut

cut (x, bins, right, labels, retbins, include_lowest)

In [ ]:
score = [20, 8, 17, 10]

In [ ]:
c = pd.cut(x=score, bins=3); c

In [ ]:
type(c)

In [ ]:
c.categories

In [ ]:
c.codes

In [ ]:
c.value_counts()

In [ ]:
#---------------

In [ ]:
pd.cut(x=score, bins=2)

In [ ]:
pd.cut(x=score, bins=6)

In [ ]:
#---------------

In [ ]:
bin = [0, 9, 15, 20]

In [ ]:
c = pd.cut(x=score, bins=bin); c

In [ ]:
c.codes

In [ ]:
c.value_counts()

In [ ]:
#---------------

In [ ]:
pd.IntervalIndex.from_tuples([(0, 4), (8, 12), (16, 20)])

In [ ]:
pd.IntervalIndex.from_tuples([(0, 4), (8, 12), (16, 20)], closed='left')

In [ ]:
b = pd.IntervalIndex.from_tuples([(0, 4), (8, 12), (16, 20)])
s = [20, 8, 17, 3]

In [ ]:
c = pd.cut(s, b); c

In [ ]:
c.codes

right

In [ ]:
pd.cut(score, bin)

In [ ]:
c = pd.cut(score, bin, right=False); c

In [ ]:
c.codes

In [ ]:
c.value_counts()

labels

In [ ]:
pd.cut(score, bin)

In [ ]:
label = ["bad", "medium", "good" ]

In [ ]:
c = pd.cut(score, bin, labels=label); c

In [ ]:
c.codes

In [ ]:
c.value_counts()

In [ ]:
#---------------

In [ ]:
pd.cut(score, bin, labels=False)

retbins

In [ ]:
pd.cut(score, bin)

In [ ]:
pd.cut(score, bin, retbins=True)

In [ ]:
pd.cut(score, bin, labels=label, retbins=True)

In [ ]:
pd.cut(score, 3, retbins=True)

include_lowest

In [ ]:
pd.cut(score, bin)

In [ ]:
pd.cut(score, bin, include_lowest=True)

..........

serie

In [ ]:
s = pd.Series([20, 8, 17, 10], ['ali', 'sara', 'omid', 'taha']); s

In [ ]:
pd.cut(x=s, bins=3)

In [ ]:
pd.cut(x=s, bins=3, labels=False)

In [ ]:
pd.cut(x=s, bins=3, labels=label)

In [ ]:
#---------------

In [ ]:
s

In [ ]:
c = pd.cut(x=s.values, bins=3); c

In [ ]:
c.codes

In [ ]:
c.value_counts()

In [ ]:
s.value_counts()

In [ ]:
s.value_counts(bins=3)

In [ ]:
s.value_counts(bins=4)

dataframe

In [ ]:
d = {'Python': {'Ali': 12, 'Sara': 13, 'Taha': 12},
     'C++':    {'Ali': 20, 'Sara': 14, 'Taha': 8},
     'Java':   {'Ali': 18, 'Sara': 6,  'Taha': 19}}

In [ ]:
df = pd.DataFrame(d); df

In [ ]:
pd.cut(x=df['C++'], bins=3)

In [ ]:
bin = [0, 9, 15, 20]
pd.cut(x=df.loc['Ali'], bins=bin)

# get_dummies

get_dummies (data, prefix, dummy_na, dtype)

In [ ]:
l = list('abca'); l

In [ ]:
pd.get_dummies(l)

In [ ]:
pd.get_dummies(l, dtype=int)

In [ ]:
pd.get_dummies(l).replace({True: 1, False: 0})

In [ ]:
#---------------

In [ ]:
l = list('baa')

In [ ]:
pd.get_dummies(l, dtype=int)

In [ ]:
#---------------

In [ ]:
l = ['a', 'b', NaN]

In [ ]:
pd.get_dummies(l, dtype=int)

In [ ]:
pd.get_dummies(l, dummy_na=True, dtype=int)

In [ ]:
#---------------

In [ ]:
s = pd.Series(list('abcaa')); s

In [ ]:
pd.get_dummies(s, dtype=int)

..........

In [ ]:
d = {'F1': ['a', 'b', 'c'], 'F2': [5, 3, 5], 'F3': ['b', 'a', 'a'], 'F4': [7, 2, 3]}
df = pd.DataFrame(d); df

In [ ]:
pd.get_dummies(df['F1'])

In [ ]:
pd.get_dummies(df['F2'])

In [ ]:
df

In [ ]:
pd.get_dummies(df)

In [ ]:
pd.get_dummies(df, dtype=int)

In [ ]:
pd.get_dummies(df, prefix=['col1', 'col3'], dtype=int)